header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  margin-bottom: 15px;

  &.nav {
    justify-content: space-between;
  }
}

nav {
  display: flex;
  justify-self: start;
  gap: 15px;
}
